
@{
    Layout = null;


}
@{ 
    if (Session["EmpId"] == null)
    {
        Response.Redirect("~/Employee/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <title>Home</title>
</head>
<body>
    <div> 
        <h1>Welcome @Session["EmpId"] !</h1>
        <a href="@Url.Action("Login")" >Logout</a>
    </div>
</body>
</html>
